<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to First Flask Agent 049!</h1>
    <form action="/submit" method="POST">
        <a href="/about">About</a>
        <h2>Input Your Name : </h2>
        <input type="text" name="name" placeholder="Enter your name">
        <button type="submit">Submit</button>
    </form>

    {% if name %}
    <div class="result">
      <strong>Hello, {{ name }}!</strong>
    </div>
    {% endif %}
</body>
</html>
